header {
    
    padding:0 20px;
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1000;
    background: #bdc3c7;  /* fallback for old browsers */
    background: linear-gradient(to bottom, #020407e7, #211c3c99); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* Additional styles */
  }
  nav{
    width: 30%;
  }
  ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  a{
    color: white;
   
  }
  .header-icons{
    justify-content: end;
    align-items: center;
    display: flex;
    width: 30%;
  }
  .header-icons a {
    margin: 0 20px;
  }
  .name-logo{
 max-width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .name-logo img{
    margin-right: 2rem;
  }