.Main{
  max-width: 1440px;
  margin: auto;
  
}
section {
   
    min-height: 75vh; /* 100% of the viewport height */
    padding-top: 60px; /* Adjust based on your header height */
  }
  
  /* If you have specific IDs */
  #aboutMe {
    margin: 0 3rem;
    /* background-color: #f0080804; */
    max-width: 70%;
  }
  
  #skills {
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #ec24240a; */
    /* border: black solid 3px; */
    margin: 2rem;
  }
  #projects {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    /* background-color: #0404e80a; */
  }
  
  .my-name{
  
  }