.Main{
  max-width: 1440px;
  margin: auto;
  
}
section {

  scroll-margin-top: 100px; 
    min-height: 70vh;
    
  }
  
  /* If you have specific IDs */
  #aboutMe {
    padding-top: 9rem;
    margin: 0 3rem;
    /* background-color: #f0080804; */
    max-width: 70%;
  }
  
  #skills {
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #ec24240a; */
    /* border: black solid 3px; */
    margin: 2rem;
  }
  #projects {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    /* background-color: #0404e80a; */
  }
  .projects-container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
 
  
  .my-name{
  
  }